.half, .third, .quarter {
    display: flex;
    padding: 1rem;
}



.leftSideDiv50 {
    background-color: red;
    width: 50%;
    height: 200px;
    color: white;
}

.rightSideDiv50 {
    background-color: blue;
    width: 50%;
    height: 200px;
    color: white;
}

.leftSideDiv30 {
    background-color: red;
    width: 33%;
    height: 200px;
    color: white;
}

.centerDiv30 {
    background-color: green;
    width: 33%;
    height: 200px;
    color: white;
}

.rightSideDiv30 {
    background-color: blue;
    width: 33%;
    height: 200px;
    color: white;
}


.leftSideDiv20 {
    background-color: red;
    width: 25%;
    height: 200px;
    color: white;
}

.centerLeftDiv20 {
    background-color: green;
    width: 25%;
    height: 200px;
    color: white;
}

.centerRightDiv20 {
    background-color: orange;
    width: 25%;
    height: 200px;
    color: white;
}

.rightSideDiv20 {
    background-color: blue;
    width: 25%;
    height: 200px;
    color: white;
}


